.intro{
    text-align: center;
    color: white;
    text-emphasis-color: white;
    font-style: italic;
    font-family: 'Times New Roman';
    background-image: url("../../assets/background.jpg");
}
.header{
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}